@model MvcCoreCacheRedisProductos.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <h4>Producto</h4>
    <hr />
    <a asp-controller="Productos"
       asp-action="SeleccionarFavorito"
       asp-route-id="@Model.IdProducto">
        Seleccionar favorito
    </a>
    <dl class="row">
        <dt class = "col-sm-2">Id Producto:</dt>
        <dd class = "col-sm-10">@Model.IdProducto</dd>
        <dt class = "col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>
        <dt class = "col-sm-2">Descripción</dt>
        <dd class = "col-sm-10">@Model.Descripcion</dd>
        <dt class = "col-sm-2">Precio</dt>
        <dd class = "col-sm-10">@Model.Precio</dd>
        <dt class = "col-sm-2">Imagen</dt>
        <dd class = "col-sm-10">
            <img src="@Model.Imagen" style="width:250px;height: 250px"/>
        </dd>
    </dl>
</div>

